{% extends "base.html" %}

{% block css %}
  <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.css') }}">
{% endblock %}


{% block title %}资产管理{% endblock %}

{% block navbar %}
<section class="content-header">
    <h1>服务器</h1>
            <div class="btn-group" style="position:relative;right:8px;top:15px">
            <a href="{{ url_for('main.addServer') }}" class="btn">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button>
             </a>
            <a href="{{ url_for('main.batchadd') }}" class="btn">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-upload" aria-hidden="true"></i></button>
             </a>
            <a href="{{ url_for('main.Serverdownload') }}" class="btn">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-download" aria-hidden="true"></i></button>
             </a>
            <a href="{{ url_for('main.update') }}" class="btn">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
             </a>
            </div>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li><i class="fa fa-dashboard"></i> 资产管理</li>
        <li class="active">服务器</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <div class="box-body">
                <div class="card-body">
                    <table id="example3" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>IP地址</th>
                            <th>资产编号</th>
                            <th>设备型号</th>
                            <th>上电时长</th>
                            <th>运行状态</th>
                            <th>MAC地址</th>
			                <th>位置</th>
                            <th>持有人</th>
                            <th>编辑</th>
                        </tr>
                        </thead>
                        {% for server in servermodels %}
                        <tr>
                            <td>{{server.IP}}</td>
                            <td>{{server.AssertNum}}</td>
                            <td>{{server.MODEL}}</td>
                            <td>{{server.UPTIME}}</td>
                            <td>{{server.STATUS}}</td>
			                <td>{{server.MAC}}</td>
                            <td>{{server.POSITION}}</td>
                            <td>{{server.OWNER}}</td>
                            <td><a href='{{ url_for("main.modifyServer", id=server.ID) }}'>
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a>
                                |
                            <a href='{{ url_for("main.deleteServer", id=server.ID) }}' data-target="#confirm-delete">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jQuery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap4.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('static', filename='plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static', filename='js/demo.js') }}"></script>
<!-- page script -->
<script>
  $(function () {
    $("#example3").DataTable();
  });
</script>
{% endblock %}
